body {
    background-color: lightgray;
}

.NovaIorque1 {
    color: darkgoldenrod;
    text-align: center;
    font-size: 30px;

}


header, nav, .centrado{
    text-align: center;
}

[title~=liberdade] {
    position: relative; 
    top:30px;
}

[title~=empire] {
    position: relative; 
    top:20px;
}

[lang|=grande]{
    width: 800px;
    height: 600px;
    border: 5px solid darkgray;
}


h1::before{
    background-image: url('imagens/USA.ico');
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
    display: inline-block;
    content: "";
    position: relative;
    top: 10px;

}

    

figure > img {
    border: 3px solid grey; 
}

nav > a:nth-child(2n-1) {
    color: #696667FF;
}
nav > a:nth-child(2n+0) {
    color: #567572FF;
}

a {
    text-decoration: none;
}

nav > a:hover {
    color: green;
    text-decoration: underline;
}


[lang|=nova]{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

[lang|=nova1]{
    position: fixed;
    top: 300px;
}