body {
    background-color: lightgray;
}

.NovaIorque {
    color: darkgoldenrod;
    font-size: 30px;
}

.outrotipodebr {
    display: block;
    visibility: hidden;
}


h1::before{
    background-image: url('imagens/USA.ico');
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
    display: inline-block;
    content: "";
    position: relative;
    top: 10px;

}

header, nav {
    text-align: center;
}

.centrado {
    text-align: center;
    display: block;
}

figure > img {
    border: 3px solid grey; 
}

nav > a:nth-child(2n-1) {
    color: #696667FF;
}
nav > a:nth-child(2n+0) {
    color: #567572FF;
}

a {
    text-decoration: none;
}

nav > a:hover {
    color: green;
    text-decoration: underline;
}

section + h3 {
    color: darkslateblue;
    font-size: larger;
}


.genero {
    position: relative;
    left: -80px;
}

.genero ~ label {
    display: table;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -46px;
    margin-top: -9px;
}

.este {
    position: relative;
    top: -62px;
    left: 43px;
}


.hotmail {
    position: relative;
    top: -55px;
}

.boxi {
    position: relative;
    top: 15px;
    left: 10px;
}

.imagem {
    position: relative;
    width: 45px;
    height: 30px;
    top: 5px;
    left: 10px;
}

